<% if ticket.errors.any? %>
    <div class="alert alert-danger">
      <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </div>
<% end %>
<% if notice %>
    <div class="alert alert-success">
      <p id="notice"><%= notice %></p>
    </div>
<% end %>
<form id="validation" role="form" action="/customers/tickets/<% if action == 'update' %><%= @ticket.id %><% end %>" method="post">
  <% if action == 'update' %>
      <input name="utf8" type="hidden" value="&#x2713;">
      <input type="hidden" name="_method" value="patch">
  <% end %>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div class="form-group">
    <label>Ticket Title</label>
    <input class="form-control" name="ticket[title]" id="ticket_title" value="<%= @ticket.title%>">
  </div>
  <div class="form-group">
    <label>Ticket Description</label>
    <textarea class="form-control" rows="8" name="ticket[description]" id="ticket_description"><%= @ticket.description%></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit Ticket</button>
</form>
