<p id="notice"><%= notice %></p>

<h1>Ticket Loops</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_loops.each do |ticket_loop| %>
      <tr>
        <td><%= link_to 'Show', ticket_loop %></td>
        <td><%= link_to 'Edit', edit_ticket_loop_path(ticket_loop) %></td>
        <td><%= link_to 'Destroy', ticket_loop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Loop', new_ticket_loop_path %>
